/* CSS Normalize */
@import 'reset.css';


/* Box-sizing border-box */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}


/* Some default styles to make each box visible */
.box {
  color:white;
  font-size: 1rem;
  text-align: center;
  text-shadow:2px 2px 0 rgba(0,0,0,0.1);
  padding:10px;
}

/* Colours for each box */
.box1 { background:#3498db;}
.box2 { background:#3498db;}
.box3 { background:#e67e22;}
.box4 { background:#2ecc71;}
.box5 { background:#2ecc71;}
.box6 { background:#2ecc71;}
.box7 { background:#e74c3c;}
.box8 { background:#e74c3c;}
.box9 { background:#e74c3c;}
.box10 { background:#e74c3c;}


/* Flexbox code starts here */
.container {
display:flex;
flex-wrap: wrap;
  
}

.box{
    width: 100vw;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
.dispose {
    display:none;
}
.ooo {
    height: 5rem;
    
    
}
/*midsize starts here*/
@media only screen 
  and (min-width: 320px) {
    .foot {
        flex-basis:calc(50% - 10px);
    }
        
    .dispose {
    display: flex;
    align-items: center;
    justify-content: center;
    }
      .foot {
          height: 3rem;
      }
    
}
/*desktop starts here*/
@media only screen 
  and (min-width:480px) {
    .foot {
        flex-basis:calc(25% - 10px);
        height: 6rem;
        }
      
    .gridmain {
        flex-basis:calc(33% - 10px);
        height: 8rem;
    }
      .bbb {
        flex-basis:calc(50% - 10px);
          height: 4rem;
    }
      .ooo {
          height: 10rem;
      }
    
}